<!-- <h1>This is HOST Application.</h1>
<br />
<!-- <a routerLink='/'>Home</a>&nbsp;&nbsp;
<a routerLink='/profile'>Profile</a>&nbsp;&nbsp;
<a routerLink='/mfe'>Remote</a> 
<nav> <ul>
  <li><a routerLink='/' routerLinkActive="active">Home</a>&</li>
  <li><a routerLink='/profile' routerLinkActive="active">Profile</a></li>
  <li><a routerLink='/mfe' routerLinkActive="active">RemoteApp</a></li>
</ul></nav>
<router-outlet></router-outlet> -->
<nav class="navbar">
  <div class="navbar-brand">MyApp</div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/mfe" routerLinkActive="active">Remote</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>